$light-gray:rgb(246, 246, 246);
$white:#fff;
$brown:rgb(156, 129, 86);
$black:#000000;
$border-color:#d8d8d8;
$border-menu:#ffffff61;
$img-bg:#e2e2e2;
$light-text:#9c9c9c;
$medium-text:#5d5d5d;
$transparent-black:#00000075;
$border-input:#b9b9b9;
$cancel-color:#5d4c32;